:root {
    font-size: calc(0.625rem + 0.4vw);
    font-family: sans-serif;
  }


body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    background-color: antiquewhite;
}

.sidebar{
    grid-area: 1/1/3/2;
    background-color: rgb(168, 87, 87);
    display: flex;
    justify-content: center;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

    .sidebar .heading {
        position: static;
        color: rgb(236, 204, 145);
        font-size: 2rem;
        margin-top: 2rem;
        font-weight: 550;
    }

.content {
    margin: 2rem 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-auto-rows: 1fr;
    gap: 2rem 3rem;
}

    .content .card {
        padding: 1rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        height: 20rem;
    }

    .book-card {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr auto;
        grid-template-columns: 1fr;
        text-align: center;
        align-content: center;
    }

    .book-card p {
        margin-bottom: 0;
    }

    .book-card .title {
        font-weight: bold;
    }

    .book-card svg {
        width: 2rem;
        height: 2rem;
        color: red;
    }
    .add-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
    }

    .read {
        padding: 0;
    }

    svg {
        width: 6rem;
        height: 6rem;
        opacity: 0.5;
    }


.modal-view {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
}

    .modal-content {
        background-color: antiquewhite;
        margin: auto;
        padding: 2rem;
        border: 1px solid black;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .modal-content .close {
        align-self: flex-end;
        font-size: 2rem;
    }

    .modal-content form {
        align-self: center;
        width: 80%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 5fr;
        gap: 2rem;
    }

    .modal-content input {
        border-radius: 10px;
        border: none;
        background-color: rgb(209, 197, 181);
        text-indent: .75rem;
        height: 1.5rem;
        font-size: 1.25rem;
    }

    #number-picker{
        -moz-appearance: textfield;
    }

    .modal-content button {
        grid-column: 2/3;
        padding: 1rem 2rem;
        width: 10rem;
        justify-self: end;
        border-radius: 10px;
        color: white;
        background-color: rgb(168, 87, 87);
        border: none;
        font-size: 1.1rem;
        font-weight: bold;
    }